*
{
	font-family: Calibri;
}

body{
	background-image:url(../images/ressources/fond.jpg);
	background-repeat:repeat-x;
	background-position: top left;
}

h1{
	//background-image:url(../images/ressources/fond_titre.jpg);
	background-position: center;
	color: white;
}

a{
	text-decoration:none;
}
body, #menu, #centre
h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
	border: 0;
}
h1
{
	background-color: #1166ff;
	padding: 0.5em;
}
h2, h3, h4, h5, h6
{

	margin-bottom: 0.5em;
}

#left,#menu,#centre,#nabz_summary,table
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#left
{
	width: 18%;
	float:left;
	}
#menu
{
	
	margin: 0em 1em 1em;
	padding: 1em;
	background-color: #EAF401;
}

#nabz_summary
{
	margin: 1em 1em 1em;
	padding: 1em;
	background-color: gold;
}

#centre
{
	margin: 1em 1em 1em 23%;
	padding: 1em;
	background-color: white;
}
#bas
{
	clear: both;
	padding: 1em;
	background-color: #7A7A7C;
	text-align:center;
	color:white;
}
label
{
	float: left;
	width: 250px;
	text-align: left;
}
input
{
	margin-bottom: 2px;
}
table, tr, td, th
{
	border-collapse: collapse;
	//border: 1px solid black;
}

#ul_error
{
	background-color: red;
	font-size: 16pt;
}

#ul_msg_confirm
{
	background-color: green;
	font-size: 16pt;
}