#tabs
{
    font : 16px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 26px; /* à modifier suivant la taille de la police ET de la hauteur de l'tab dans #tabs li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#tabs li
{
    float : left;
    height : 23px; /* à modifier suivant la taille de la police pour centrer le texte dans l'tab */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#tabs li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#tabs li.active a, a:hover
{
    color: grey !important;
}

#tabs a
{
    display : block;
    color : grey ;
    text-decoration : none;
    padding : 4px;
}

#tabs a:hover
{
    background : #fff;
}
#stat_bar
{
	border: 2px solid black;
	width: 100px;
	height: 20px;
	margin: 0px 10px 0px 10px;
	float:left;
	//padding-bottom:0px;
}


#img_skill{
	float:left;
	//padding-bottom:20px;
}

#nabz_name{
	margin: 30px 30% 0 0;
	float:right;
}

#table_profile{
	border-spacing: 10px;
	border-collapse: separate;
}

#table_profile td {vertical-align: top;}

#td_secondcol{
	padding-left:100px;
	width:80%;
}