#table_shop
{
	width: 90%;
	border: 0px !important;
	}
	
#table_shop td
{
	//width : 25%;
	text-align: left;
	padding: 10px;
	//background-color: blue;
}	

#table_product_profile, #table_product_stock{margin:10px;}

#table_product,#table_product_profile, #table_product_stock
{
	//border: 2px dashed black;
	background-color: gainsboro;
	border-radius : 5px; 
	
	}
#table_product td, #table_product_profile td, #table_product_stock td
{
	width: 350px;
	height: 100px;
	padding:10px;
	}
	
#table_product_profile td
{
	padding:10px;
	}
	
#table_users, #table_rabbits
{
	width: 90%;
	border: 0px !important;
	text-align:center;
	}
	
#table_users_title, #tbl_users_row1, #table_rabbits_title, #tbl_rabbits_row1
{
	background-color: DarkGrey;
	}

#table_users_title, #table_rabbits_title
{
	font-weight: bold;
	font-size: 1.5em;
	
}
	
#td_error
{
	background-color: red;
	font-weight: bold;
	text-align: center;
}

#td_valid
{
	background-color: green;
	font-weight: bold;
	text-align: center;
}
